
fieldset
	legend=countryTitle
	.custom-select
		select#country-select(name="country"  aria-label=countryLabel)._native.input
			option(value="", selected, disabled)=countryLabel
			each country in countries
				option(value=country.name, data-coefficient=country.coefficient)=country.name
		//- Hide the custom select from AT (e.g. SR) using aria-hidden
		._custom.input(aria-hidden='true')
			._trigger=countryLabel
			._options.input
				each country in countries
					._option(data-value=country.name,  data-coefficient=country.coefficient)=country.name

