
fieldset
	legend=titles.countries[lang]
	.custom-select
		select#country-select(name="country"  aria-label=titles.countriesLabel[lang])._native.input
			option(value="", selected, disabled)=titles.countriesLabel[lang]
			each options, country in countries
				option(value=country)=country
		//- Hide the custom select from AT (e.g. SR) using aria-hidden
		._custom.input(aria-hidden='true')
			._trigger=titles.countriesLabel[lang]
			._options.input
				each options, country in countries
					._option(data-value=country)=country
