fieldset
	legend=platformsTitle
	// ._title
	.radio-buttons
		mixin createRadioButton(platform, name, checked)
			p.radio-button
				if checked
					input(type="radio" name=name, id=platform.id+'-radio', value=platform.name, checked, data-coefficient=platform.coefficient)._native.visually-hidden
				else
					input(type="radio" name=name, id=platform.id+'-radio', value=platform.name, data-coefficient=platform.coefficient)._native.visually-hidden
				label(for=platform.id+'-radio')._custom=platform.name

		each platform, index in platforms
			+createRadioButton(platform, "platform", !index)

