fieldset
	legend.bold#traffic-title=trafficTitle
	input#traffic(type="text" name="traffic" value="100 000" inputmode="numeric" pattern="[0-9 ]*", aria-hidden="true").input

	.range-slider(style=`--min:${min}; --max:${max}; --value:${initValue}; --text-value:"75"; --suffix:"%"`)
		input(type='range' min=min max=max value=initValue, name="traffic-range", aria-labelledby="traffic-title")#traffic-range
		.range-slider__progress

